.moviePosterD:hover {
    background-color: #222222;
    animation: none;
    box-shadow: 0px 0px 10px 10px #bb8a52;
}

.moviePosterD {
    animation-name: shadowAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shadowAnimation {
    from {
        box-shadow: 0px 0px 15px 15px #111111;
        transform: scale(1.0);
    } to {
        box-shadow: 0px 0px 10px 10px grey;
        transform: scale(1.1);
    }
}

@media (max-width: 1000px) {
    .detailsPage {
        background-position: center;
        background-size: cover;
    }
    .details {
        width: 100%;
        margin-bottom: 20px;
    }
    .movieReleaseDateD {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .movieTitleD {
        font-size: 18px;
    }
    .movieDescriptionD {
        font-size: 14px;
    }
    .movieRatingD {
        font-size: 10px;
    }
    .movieLanguageD {
        font-size: 10px;
    }
    .moviePosterD {
        display: none;
    }
}